body {
    margin: 0;
    padding: 0;
}

#board {
    background-color: rgb(219, 234, 239);
    height: 100vh;
    position: relative;
}

#player {
    background-color: rgb(255, 0, 166);
    position: absolute;
}